{% extends 'base2.html' %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        All Services
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Service Provider</th>
                    <th>Service Name</th>
                    <th>Service Description</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Service Provider</th>
                    <th>Service Name</th>
                    <th>Service Description</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
            <tbody>
                {% for service in services %}
                <tr>
                    <td>{{ service.provider }}</td>
                    <td>{{ service.service_name }}</td>
                    <td>{{ service.service_description | slice:":50" }}</td>
                    <td><a href="{% url 'service_detail' service.id %}" class="btn btn-outline-info btn-sm">Preview</a></td>
                    <td><a href="{% url 'update_service' service.id %}" class="btn btn-outline-success btn-sm">Edit</a></td>
                    <td><a href="{% url 'delete_service' service.id %}" class="btn btn-outline-danger btn-sm">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}