<div class="bg-dark bg-gradient text-white pt-4">
    <div class="d-flex p-2 justify-content-around flex-wrap">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="d-flex justify-content-center">
                Address:
            </div>
            <hr class="mt-0" style="width: 60%; margin: 0 auto;">
            <div class="d-flex justify-content-center">
                <ul class="nav flex-column align-items-center">
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">Bobende</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">Limbe</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">South West Region</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">Cameroon</a>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="d-flex justify-content-center">
                Terms of Service:
            </div>
            <hr class="mt-0" style="width: 60%; margin: 0 auto;">
            <div class="d-flex justify-content-center">
                <ul class="nav flex-column align-items-center">
                    <li class="nav-item">
                      <a class="nav-link text-white"  href="#">Terms and Conditions</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">Privacy policy</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">Policies</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">Tools</a>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="d-flex justify-content-center">
                Useful Links:
            </div>
            <hr class="mt-0" style="width: 60%; margin: 0 auto;">
            <div class="d-flex justify-content-center">
                <ul class="nav flex-column align-items-center">
                    <li class="nav-item">
                      <a class="nav-link text-white"  href="#">About us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">How it works</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">Create account</a>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="d-flex justify-content-center">
                Contact Us:
            </div>
            <hr class="mt-0" style="width: 60%; margin: 0 auto;">
            <div class="d-flex justify-content-center">
                <ul class="nav flex-column align-items-center">
                    <li class="nav-item">
                      <a class="nav-link text-white"  href="#">+237 630020078</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">+237 630020078</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">WhatsApp</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">Email</a>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex p-2 justify-content-center my-2">
        <p>&copy; <a href="#" style="text-decoration: none; color: #008080;">LaivTech Software Solutions</a></p>
    </div>
</div>