{% extends 'base.html' %}
    {% block title %}Projects{% endblock %}

    {% block content %}
    <h2>All Projects</h2>
    <ul>
        <li>
            <div class="container">
                <div class="row">
                 {% for project in projects %}
                    <div class="col-md-4">
                        <div class="card mb-3" style="max-width: 300px;">
                            <div class="row g-0">
                                <div class="card" style="width: 100%;">
                                    <img src="{{ project.project_picture.url }}" class="card-img-top" alt="..." height="300px">
                                    <div class="card-body">
                                    <h5 class="card-title">{{ project.project_name }}</h5>
                                    <p class="card-text">Project status: {{ project.project_status }}</p>
                                    <a href="{% url 'project_detail' project.id %}" class="btn btn-outline-success btn-sm">Project details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </li>
    </ul>
    {% endblock %}
