{% extends 'base.html' %}
{% block title %}All user services{% endblock %}

{% block header %}

    {% include "xpert/navbar.html" %}

{% endblock %}

{% block content %}
    <h2>All Services</h2>
    <ul>
        <li>
            <div class="container">
                <div class="row">
                 {% for service in services %}
                    <div class="col-md-4">
                        <div class="card mb-3" style="max-width: 300px;">
                            <div class="row g-0">
                                <div class="card border border-success" style="width: 100%;">
                                    <!-- <img src="{{ project.project_picture.url }}" class="card-img-top" alt="..."> -->
                                    <div class="card-body">
                                    <h5 class="card-title">{{ service.service_name }}</h5>
                                    <p class="card-text"> Service provider: {{ service.provider.username }}</p>
                                    <a href="{% url 'service_detail' service.id %}" class="btn btn-outline-success btn-sm">Service details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </li>
    </ul>
{% endblock %}
{% block footer %}

    {% include 'xpert/footer.html' %}

{% endblock %}